# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
Dice

# Packages #
############
*.7z
*.dmg
#*.gz the .gz file is used to distribute Dice
*.iso
*.jar
*.rar
#*.tar
*.zip

# HTML Build #
##############
#*docs/_build/*

# Other #
#########
*.swp
*.doctree
*.bkp
input*
output*.dat
tests/mn_really_quick
tests/SHCI/*/shci.e
tests/SHCI/*/spatialRDM.*.txt
tests/SHCI/*/spatial1RDM.*.txt
tests/SHCI/*/spatial3RDM.*.txt
tests/SHCI/*/spatial3RDM.*.bin
tests/SHCI/*/spin1RDM.*.txt
tests/ZSHCI/*/shci.e
tests/ZSHCI/*/spatialRDM.*.txt
tests/ZSHCI/*/spatial1RDM.*.txt
tests/ZSHCI/*/spatial3RDM.*.txt
tests/ZSHCI/*/spatial3RDM.*.bin
tests/ZSHCI/*/spin1RDM.*.txt
tests/__pycache__
benchmark/*/shci.e
benchmark/*/output.dat
benchmark/*/benchmark_raw.out
benchmark/*/benchmark.out
.vscode
.vscode/*
*slurm-*.out
run_all.sh
pyscf.out
