# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
#*.gz the .gz file is used to distribute Dice
*.iso
*.jar
*.rar
#*.tar
*.zip

# HTML Build #
##############
#*docs/_build/*

# Other #
#########
*.swp
*.doctree
*.bkp
input*
output*.dat
*.vscode
FCIDUMP*
FCIDUMP
Makefile
out
out*
.idea/*
input.dat
shci.e
cmake-builde-debug/*
cmake*
tests*
CMakeLists.txt
test
.gitignore

# Executable Files #
####################
Dice
ZDice2
