[submodule "External/eigen"]
	path = External/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "External/Catch2"]
	path = External/Catch2
	url = https://github.com/catchorg/Catch2.git
